# Database Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_PORT=

# Admin Console (pgAdmin not included in server compose typically, but Env ok)
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=

# Keycloak Configuration
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KC_DB_URL=
KC_DB_USER=
KC_DB_PASSWORD=

# Service Configuration
USER_SERVICE_PORT=
USER_DB_URL=
USER_DB_USERNAME=
USER_DB_PASSWORD=

# Expense Service Configuration
EXPENSE_SERVICE_PORT=
EXPENSE_DB_URL=
EXPENSE_DB_USERNAME=
EXPENSE_DB_PASSWORD=

# Trip Service Configuration
TRIP_SERVICE_PORT=
TRIP_DB_URL=
TRIP_DB_USERNAME=
TRIP_DB_PASSWORD=

# Itinerary Service Configuration
ITINERARY_SERVICE_PORT=
ITINERARY_DB_URL=
ITINERARY_DB_USERNAME=
ITINERARY_DB_PASSWORD=

# AI Service Configuration
GEMINI_API_KEY=
GEMINI_MODEL=
